In [2]:
import pandas as pd
import numpy as np

In [4]:
df = pd.read_csv("predict_data_noWordCut.csv")

In [5]:
df[df.isnull().any(axis = 1)]

        text            timestamp
1303013  NaN  2020-02-14 18:46:00

In [6]:
print("before dropna:",df.shape[0])

before dropna: 3112108

In [7]:
df.dropna(inplace = True)

In [8]:
print("after dropna:",df.shape[0])

after dropna: 3112107

In [9]:
df.to_csv("predict_data_noWordCut1.csv", index = False)