In [1]:
from snownlp import SnowNLP
from snownlp import sentiment
from sklearn import metrics

In [2]:
import pandas as pd
from pandas import DataFrame

In [3]:
def get_sentiment_cn(text):
    s = SnowNLP(text)
    return s.sentiments

In [4]:
pd_all = pd.read_csv("train_data_WordCut.csv")
display(pd_all)

                                                     text  label
0                   ﻿更博了，爆照了，帅的呀，就是越来越爱你！生快傻缺[爱你][爱你][爱你]      1
1                    土耳其的事要认真对待[哈哈]，否则直接开除 很是细心，酒店都全部OK啦。      1
2             姑娘都羡慕你呢…还有招财猫高兴……[哈哈]小学徒一枚，等着明天见您呢大佬范儿[书呆子]      1
3                                              美~~~~~[爱你]      1
4                                       梦想有多大，舞台就有多大![鼓掌]      1
...                                                   ...    ...
119936  一公里不到，县医院那个天桥下右拐200米就到了！ 我靠。这个太霸道了！离224有好远？ 这个...      0
119937                今天真冷啊，难道又要穿棉袄了[晕]？今年的春天真的是百变莫测啊[抓狂]      0
119938                                   最近几天就没停止过！！！[伤心]      0
119939                                            [怒] 很惨!      0
119940                 呢? ？！[抓狂] ?搞乜鬼？？！！想知？入去GOtrip睇睇：        0

[119941 rows x 2 columns]

In [5]:
display(pd_all[pd_all.label==1])

                                                    text  label
0                  ﻿更博了，爆照了，帅的呀，就是越来越爱你！生快傻缺[爱你][爱你][爱你]      1
1                   土耳其的事要认真对待[哈哈]，否则直接开除 很是细心，酒店都全部OK啦。      1
2            姑娘都羡慕你呢…还有招财猫高兴……[哈哈]小学徒一枚，等着明天见您呢大佬范儿[书呆子]      1
3                                             美~~~~~[爱你]      1
4                                      梦想有多大，舞台就有多大![鼓掌]      1
...                                                  ...    ...
59961                                 好吃好看好开心[嘻嘻] 我在这里:       1
59962  这是按照什么标准评选的？ [哈哈]班夫露易丝湖滑雪场刚刚被评为全加拿大最佳滑雪场TOP1殊荣...      1
59963  必?承?，我的相?在hold大?面的能力著?不如中近景啊！昨?被拉去?任替?照相的心得。不?...      1
59964  叫同学可能更好一点！[嘻嘻][嘻嘻]赐教不敢！分享可以：吃货分几个阶段第1阶段：爱吃（什么都...      1
59965                                                回复       1

[59966 rows x 2 columns]

In [6]:
display(pd_all[pd_all.label==0])

                                                     text  label
59966        ﻿哈哈  哈哈哈哈，太罪恶了啊！以后叫外卖回家捞吧！不过...某人今天和你一样[泪]！       0
59967   今年赶上沙尘暴没？我离开的那天，不能呼吸，我能拍照，不敢说话，黑城在风沙中被淹没[衰] 醉美...      0
59968   这是带头要让人民币升值啊！ 充值面额目前支持 50元，100元，300元 和 500元 ！ ...      0
59969   [蜡烛] [蜡烛]  [蜡烛] [蜡烛] [蜡烛][蜡烛] 据最新线报，保安张师傅昨天下午去...      0
59970   邻居妈妈有两个孩子，男宝宝好像是四岁了，经常喜欢在他妈妈开门的时候学着样子来敲我家的门，好几...      0
...                                                   ...    ...
119936  一公里不到，县医院那个天桥下右拐200米就到了！ 我靠。这个太霸道了！离224有好远？ 这个...      0
119937                今天真冷啊，难道又要穿棉袄了[晕]？今年的春天真的是百变莫测啊[抓狂]      0
119938                                   最近几天就没停止过！！！[伤心]      0
119939                                            [怒] 很惨!      0
119940                 呢? ？！[抓狂] ?搞乜鬼？？！！想知？入去GOtrip睇睇：        0

[59975 rows x 2 columns]

In [ ]:
pd_all["sentiment"] = pd_all.text.apply(get_sentiment_cn)

In [ ]:
display(pd_all)

In [ ]:
pd_all.sort_values(['sentiment'])[:1]

In [ ]:
print(pd_all.sort_values(['sentiment']).iloc[0].text)

In [ ]:
pd_all.sentiment.mean()

In [ ]:
pd_all.sentiment.median()

In [ ]:
pd_all["predict"] = None
pd_all.loc[pd_all['sentiment'] >= 0.5, "predict"] = 1
pd_all.loc[pd_all['sentiment'] < 0.5, "predict"] = 0

In [ ]:
display(pd_all)

In [ ]:
label = pd_all[['label']]

In [ ]:
display(label)

In [ ]:
predict = pd_all[['predict']]

In [ ]:
display(predict)

In [ ]:
test_f1score = metrics.f1_score(label,predict,average="micro")

In [ ]:
print(test_f1score)

In [ ]:
test_report = metrics.classification_report(y_test, y_pred)
print(test_report)